<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	 http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="datasource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.ibm.db2.jcc.DB2Driver"></property>
		<property name="url" value="jdbc:db2://9.110.24.109:50000/SPRT216"></property>
		<property name="username" value="admin"></property>
		<property name="password" value="admin123"></property>
	</bean>
	
	<!-- transaction manager -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="datasource"></property>
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="datasource" />
	</bean>

	<!-- mapper bean -->
		<bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" autowire="byName">
			<property name="mapperInterface" value="cn.com.lee.mapping.UserMapper" />
			<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		</bean>
</beans>